button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

div h1 {
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 60px;
  color: blanchedalmond;
}

div h2 {
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 45px;
  color: blanchedalmond;
}

div h4 {
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 32px;
  color: blanchedalmond;
}

button.add:hover {
  background-color: rgba(248, 255, 248, 0.692);
  border-color: rgb(41, 192, 41);
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem 1rem 0rem 0rem;
}

button.details:hover {
  background-color: rgba(248, 255, 248, 0.692);
  border-color: rgb(41, 144, 192);
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem 1rem 0rem 0rem;
}

.back-list {
  background-color: rgba(30, 39, 39, 0.726);
  border-color: black;
  margin: 1%;
}

.dish:hover {
  background-color: rgba(30, 39, 39, 0.014);
}

.modal-body {
  background-color: rgba(224, 230, 230, 0.808);
}

small span {
  background-color: rgba(39, 167, 23, 0.904);
  border-radius: 3px;
  padding: 3px;
  color: aliceblue;
}

h6 span {
  margin-right: '6px';
}

.dish {
  background-color: rgba(248, 255, 248, 0.692);
  border-radius: 1rem 1rem 0rem 0rem;
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  .dish {
    width: 200px;
    height: 450px;
  }

  .danger {
    width: 200px;
  }
  
}

/* Small devices (portrait tablets and large phones, 400px and up) */
@media only screen and (min-width: 400px) {
  .dish {
    width: 300px;  
    height: 400px;
  }

  .danger {
    width: 300px;
  }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .dish {
    width: 300px;  
    height: 390px;
  }

  .danger {
    width: 300px;
  }  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .dish {
    width: 300px;  
    height: 400px;
  }

  .danger {
    width: 300px;
  }  
}